@font-face{
    font-family: 'Rubik';
    src: url('static/fonts/Rubik-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'RubikBold';
    src: url('static/fonts/Rubik-Medium.ttf');
    font-weight: normal;
}

html,body{
    width: 100%;
    height: 100%;
    background: rgb(33, 122, 255);
    font-family: 'Rubik';
}

body{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

#content_wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

#canvas_wrapper{
    flex: 1;
    align-items: flex-end;

    min-width: 400px;
    min-height: 400px;
}

#game_status{
    padding: 5px 10px;
    margin-top: 3px;
    font-size: 1.5em;
    max-width: 750px;

    display: flex;
    flex-direction: column;
}

#wave_num{
    width: 120px;
}

#upper{
    display: flex;
}

#remain_percent{
    background: rgb(109, 36, 255);
    margin-top: 5px;
    height: 5px;
}

#game{
    width: 100%;
    height: 100%;
}

#info_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 350px;
    background: rgb(65, 65, 65);
}

#info_wrapper .top{
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 10px;
    box-sizing: border-box;
    color: rgb(232, 185, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

#info_wrapper .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

#info_wrapper .main .turret-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: rgb(202, 202, 202);
    user-select: none;
}

#info_wrapper .main .turret-item:hover{
    background: rgb(0, 192, 192);
    cursor: pointer;
}

.turret-item .box{
    width: 30px;
    height: 30px;
}

.turret-item .name{
    font-size: 20px;
    flex: 1;
    padding: 0 10px;
    font-weight: bold;
}

.turret-item .cost{
    font-size: 20px;
}

.detail{
    background: rgb(0, 0, 0);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

.detail .name{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.detail .image-box{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.detail .object-image{
    width: 80px;
    height: 80px;
    background: red;
}

.detail .object-property{
    width: 100%;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 3px;
}

#info_wrapper .menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(232, 255, 243);
}

#info_wrapper .menu .menu-item{
    padding: 5px 10px;
}

#info_wrapper .menu .menu-item.selected{
    cursor: pointer;
    background: black;
    color: cyan;
}

#info_wrapper .menu .menu-item:hover{
    cursor: pointer;
    background: rgb(52, 201, 255);
}